# Flutter / Dart
.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock
/build/
/.idea/
/.dart_tool/
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# FVM Version Cache
.fvm/

# Android
/android/.gradle/
/android/local.properties


# iOS 
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# OS junk
.DS_Store
Thumbs.db
*.log



